{% extends 'dashboard/admin/base.html' %}

{% block body %}
<div class="container-fluid">
        <div class="row">
          <div class="col-12 mb-3">
          <div class="col-12 mb-3">
              <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" style="color: #999965; font-weight: bold; letter-spacing: 10px">Case Inventory System</a>
                </li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table text-warning"></i>
                    Deleting Annoucement ...... 
                </div>
                <div class="card-body">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}

    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <div class="alert alert-warning" role="alert">
                  Are you sure to delete detail of {{ object }} ?
                </div>
                <input type="submit" class="btn btn-danger" value="Yes, delete it" />
                <a class="btn btn-success" href="{% url 'alistalltise' %}">No, just I've tried the delete button</a>
            </form>
        </div>
    </div>

                  


          </div>
        </div>
      </div>
    </div>
{% endblock %}
