{% extends 'dashboard/admin/base.html' %}



{% block body %}

<div class="container-fluid">
<div class="row">

<div class="col-sm-6" style="padding-top: 10px;">
    <div class="card">
</div>


<div class="card mb-2">
<div class="card-body">

<div class="row" style="background-color: #999965">
	 <div class="card col-sm-12">
  <div class="card-header text-primary">
     <center>Post New Announcement</center>
  </div>
</div>

    <div class="col-sm-8">
    	<div class="myform">
    	    <form method="POST">
    	{% csrf_token %}
    	{{ form.as_p }}

    	<br><input type="submit" value="Post" class="btn btn-primary">
    </form>
</div>

    <div class="col-sm-4"></div>
    </div>


                      </div>
                    </div>  
                  </div>

</div>



<div class="col-sm-2" style="color: red">
</div>

</div>
</div>


{% endblock body %}