{% extends 'dashboard/instructor/base.html' %}

{% load crispy_forms_tags %}

{% block body %}
<div class="container-fluid" style="padding-top: 20px">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" style="color: #999965; font-weight: bold; letter-spacing: 10px">Learning Management System</a>
                </li>
            </ol>
            <div class="card mb-3">
                <div class="card-body">
                     {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                  <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Save</button>
        <a href="" class="btn btn-outline-secondary" role="button">Nevermind</a>
      </form>
        </div>
    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
