{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/four/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/three/css/bootstrap.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'comment/css/comment.css' %}">
<style type="text/css">
    #bg{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
</style>

{% include 'nav.html' %}

<body id="bg" style="background-image: url('{% static "img/white 1.jpg"%}');">


<div class="col-sm-12" style="padding-top: 60px">
<div id="content">
    <div class="col-sm-12">

<center><h1 style="color: #250CFF">Best Online Education Service In The World</h1></center>



<center><img src="{% static "img/student 2.jpg" %}" alt="moses" class="card-img-top"></center>



<center><h1 style="color: #250CFF">We Make Things Happen For You</h1></center>
<br>
<br>


<div class="row">
    <div class="col-sm-4"></div>
<center><h2 style="color: #FF5300">Our Head of Departments</h2></center>   
</div>

<div class="row"> 
    <div class="col-sm-3">

      <div class="card">
        <img src="{% static "img/android 6.jpg" %}" alt="moses" height="320px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Natalia Anosh, H.O.D Android & Network</h5>
                        <p class="card-text">Having 3 years of Android development in corporate world, Natalia had a long time ago dream of Teaching people, as soon as our platform was established, he was the first staff to join us after holding 1 hour conversation with our CEO in LA Californi.</p>
                    </div>
                </div> 

    </div> 
      <div class="col-sm-3"> 
          <div class="card">
        <img src="{% static "img/moses 2.jpg" %}" alt="moses" height="320px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Moses Noel, H.O.D of Django & ML</h5>
                        <p class="card-text">Big time Dr. Moses Noel having coding in Django Python Web Framework with combination of Machine Learning in order to solve people's problem by developing powerfully intelligent systems.</p>
                    </div>
                </div> 
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img src="{% static "img/android 5.jpg" %}" alt="moses" height="320px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Ava Pelcon, H.O.D of PHP & Linux</h5>
                        <p class="card-text">Ava Pelcon, has beening working in big Internet Service Provider. Her experience came after given administration role of all servers owned by Vodaphone in South Africa. She joined us in 2020 and working very hard.</p>
                    </div>
                </div> 
        
    </div> 

     <div class="col-sm-3"> 
          <div class="card">
        <img src="{% static "img/network 4.jpg" %}" alt="moses" height="320px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">David James, H.O.D of Graphics & Animation</h5>
                        <p class="card-text">David James, has beening working in big televesion in UK.His experience came after given head of content development by Sky Sport in South Africa. He joined us in 20219.</p>
                    </div>
                </div> 
    </div>

</div>



      
        
                </div>


<style type="text/css">
    #footer {
    position: absolute;
    height: 70px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
</style>                

          
            </div>

 <div class="row bg-dark" style="padding-top: 80px">           
<div class="fixed-bottom" id="footer">
    <center><p style="color: white">Powered by MotechApp ©2021</p></center>
</div>
</div>


        </div>









  
    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>





</body>
</html>


