{% include 'nav.html' %}

{% load static %}


<style type="text/css">
  #about{
    color:;
  }

  #bg{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
</style>


<body id="bg" style="background-image: url('{% static "img/white 1.jpg"%}');">

<div class="container-fluid">
<div class="row">
<div class="col-sm-3" style="color: red">
  <p style="color: blue"></p>  
</div>



<div class="col-sm-6" style="padding-top: 87px">
    <div class="card">
  <div class="card-header text-primary">
     Meet With Experienced Professionals
  </div>
</div>


<div class="card mb-4">
<div class="card-body">

<div class="row">
	<div class="col-sm-4"></div>
	<div class="form-group">
<p id="about">SkyLearn Offers The Following Serives</p>

<ul class="list-group">
  <li class="list-group-item text-primary">Online Quiz</a></li>
  <li class="list-group-item text-primary">Online Lectures</a></li>
  <li class="list-group-item text-primary">Reading Material</a></li>
  <li class="list-group-item text-primary">Practical Session</a></li>

</ul>
</div>

	<div class="col-sm-4"></div>
	</div>


                      </div>
                    </div>  
                  </div>

</div>



<div class="col-sm-3" style="color: red">
</div>

</div>
</div>

    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>












